use nix
export NPM_CONFIG_CACHE="$HOME/.npm-cache"
export PNPM_STORE_DIR="$HOME/.pnpm-store"
export NEXT_CACHE_DIR="/tmp/next-cache"
export ESLINT_CACHE_DIR="/tmp/eslintcache"
export TURBO_CACHE_DIR="/tmp/turbo"
