# Node
node_modules/
.pnpm-store/
.npm-cache/
.yarn/
.cache/
.eslintcache

# Next & tooling
.next/
.turbo/
.vercel/

# Firebase
.firebase/
firebase-debug.log
functions/lib/
functions/node_modules/

# OS/IDE
.DS_Store
.vscode/

# Local dev env
.idx/
